#sub{
    padding:0px;
    width:80px;
    height:30px;
    margin-left:125px;
    color:#red;
    background:#7B68EE  ;
    border:1px solid #6EB45C;
}
#sub:hover{
    cursor:pointer;
}
#sub:active{
    position:relative;
    left:1px;
    top:1px;
}
#field {
      background-color : #811453;
      width:55%;
       padding:20px; 
       margin:auto;
}
