<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.aeroday2018">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".choix" />
        <activity android:name=".HeliBattle" />
        <activity android:name=".resultat" />
        <activity android:name=".details" />
        <activity android:name=".AeroChallenge" />
        <activity android:name=".details2" />
        <activity android:name=".resultat2" />
        <activity android:name=".joueurHelibattle" />
        <activity android:name=".joueurAerochallenge"></activity>
    </application>

</manifest>